*{
    font-family: 'Bebas Neue', cursive;
    background-color: #EEE;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.submission{
    width: 100vw;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submission #cityName{
    height: 2rem;
    width: 60%;
    margin-right: 2rem;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 1.5rem;
}

.submission #submit{
    height: 2rem;
    width: 4rem;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #000;

}

.tempContainer{
    display: flex;
    width: 100vw;
    height: 100%;

    align-items: center;
    justify-content: space-evenly;
}

.tempContainer .infoContainer{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3{
    font-size: 150px;
}

.p1{
    font-size: 75px;
}
.p2{
    font-size: 45px;
}


img{
    width: 500px;
    height: 500px;
}